@using Philopedia.Common
@{
    this.ViewData["Title"] = "Admin Dashboard";
}

<h3>Welcome to Admin Dashboard!</h3>
<h5>Here is a quick navigation:</h5>
<div>
    <a asp-area="Administration" asp-controller="Home"asp-action="Index" 
       class="list-group-item list-group-item-action bg-light">Dashboard</a>
</div>